<script src='scr/search.js' async></script>
<style>/* Search Form */
form#search{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

form#search input,select{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    text-align: center;
}</style>
<form id="search" action="search.php" method="GET" onsubmit="return srchk(this);">
  Query:<br/><input type="text" name="q"/><br/>
  Media:<br/><select id="media" name="media">
  <option value=0>Any</option>
  <option value=1>Book</option>
  <option value=2>Movie</option>
  <option value=3>Tv Show</option>
  <option value=4>Video Game</option>
  <option value=5>Comics</option>
  </select><br/>
  Search Type:<br/><select id="search_t" name="search_t">
  <option value=cn>Character by name</option>
  <option value=ar>Actor by role name</option>
  </select></br/>
  <input type="submit" value="Submit">
</form>
