/* infopage.css
 */

div#desc form{
    width: 95%;
    margin: 0 auto;
}

input[type=submit]{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
