/* File:     sty/main.css
 * Brief:    primary stylesheet for the fictional characters database
 * Author:   Henry J Schmale <hschmale16@gmail.com>
 * Created:  July 14, 2015
 * Modified: July 18, 2015
 */

/* Global Styling */
body{
    margin: 0;
    padding: 0;
}

.center{
    text-align: center;
}

div#page-container{
    width: 80%;
    margin: 0 auto;
    min-height: 400px;
}

/* header */
div#header{
    width: 100%;
    min-height: 50px;
}

div#header h1{
    margin-bottom: -2%;
}

div#header p{
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 0.25%;
}

/* navbar */
table#navbar{
    width: 90%;
    min-height: 25px;
    margin: 0 auto;
}

table#navbar a{
    color: #555;
    text-decoration: none;
}

table#navbar a:visited{
    color: #555;
}

table#navbar a:hover{
    color: blue;
    text-decoration: underline;
}

/* Results Table */
div#res-count h1{
    text-align: left;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table.sortable thead{
    background-color: #666;
    color: #FFF;
    font-weight: bold;
    cursor: default;
    border: 1px solid black;
}

td{
    text-align: center;
    border-bottom: 1px solid black;
}

th{
    text-align: center;
    padding: 5px;
}

/* Contrib Form */

select{
    width: 100%;
    max-width: 350px;
    margin-bottom: 10px;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}
